.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: red;
    text-align: center;
    font-size: 1.5rem;
    min-height: 100px;
}

.app_logo_rs{
max-width: 50px;
max-height: 40px;
}